# Local cache files
*.db
*.cache

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# .env file with configuration
.env

# built binaries
main
zname
!zname/

# Goreleaser dist directory
dist/

# sysroot dir cloned by the release GitHub action. We need to ignore it so Goreleaser won't complain about dirty git state.
sysroot/